<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuiaFletesGAG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuiaFletesGAG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GuiaFletesGAG.My.MySettings.cnn2" connectionString="Server=SERVER2;Database=PFLETE;User Id=profit;Password=profit" />
        <add name="GuiaFletesGAG.My.MySettings.cnn1" connectionString="Server=SERVER2;Database=PRUEBA;User Id=profit;Password=profit" />
        <add name="GuiaFletesGAG.My.MySettings.PFLETEConnStr" connectionString="Data Source=SERVER2;Initial Catalog=PFLETE;Persist Security Info=True;User ID=profit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <GuiaFletesGAG.My.MySettings>
            <setting name="impfis" serializeAs="String">
                <value>Z1F0000897</value>
            </setting>
            <setting name="impfisfac" serializeAs="String">
                <value>122222</value>
            </setting>
        </GuiaFletesGAG.My.MySettings>
    </applicationSettings>
    <userSettings>
        <GuiaFletesGAG.My.MySettings>
            <setting name="iva" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fiscal" serializeAs="String">
                <value>False</value>
            </setting>
        </GuiaFletesGAG.My.MySettings>
    </userSettings>
</configuration>
